---
extends: default

rules:
  line-length:
    max: 150
    level: warning
  indentation:
    spaces: 2
  brackets:
    max-spaces-inside: 0
    min-spaces-inside: 0
  comments:
    min-spaces-from-content: 1
  comments-indentation: {}
  document-start: disable
  truthy:
    allowed-values: ['true', 'false', 'on', 'off']
